.about,
.contact {
  flex-flow: column;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: all 0.75s linear;
    backdrop-filter: blur(10px); /* apply the blur */
    pointer-events: none; /* make the pseudo class click-through */
  }

  .subpage-content-wrapper {
    transform: translateY(5%);
    opacity: 0;
    z-index: 3;
    transition: transform 0.4s ease, opacity 0.5s ease;
  }

  @media screen and (max-height: 650px) {
    min-height: 100vh;
    height: 100% !important;

    h1 {
      font-size: 1.4rem;
    }

    .subpage-content-wrapper {
      margin-top: 7rem;
    }
  }

  .subpage-content-entered {
    transform: translateY(0%);
    opacity: 1;
    @media screen and (min-width: 1100px) {
      transform: translateY(-30%);
    }
  }
}

.about-entered {
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(0px) !important; /* apply the blur */
    backdrop-filter: blur(0px) !important; /* apply the blur */
    pointer-events: none; /* make the pseudo class click-through */
  }
}

.about-header {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.about-header-entered {
  opacity: 1;
}

.about-content {
  max-width: 270px;
  line-height: 1.7;
  font-size: 0.8rem;
  opacity: 0;
  transition: all 0.6s ease-in-out;

  @media screen and (min-width: 360px) {
    max-width: 340px;
  }

  @media screen and (min-width: 768px) {
    max-width: 600px;
    // font-size: 1.5rem;
    // line-height: 1.5;
    font-size: 0.8rem;
  }

  @media screen and (min-width: 1100px) {
    max-width: 1100px;
    // font-size: 1.3rem;
    padding-right: 50%;
  }
}

.about-content-entered {
  opacity: 1;
}
