//contact

.contact {
  flex-flow: column;

  // &:before {
  // content: "";
  // position: absolute;
  // z-index: 2;
  // width: 100%;
  // height: 100%;
  // transition: all 0.75s linear;
  // backdrop-filter: blur(10px); /* apply the blur */
  // pointer-events: none; /* make the pseudo class click-through */
  // }

  .subpage-content-wrapper {
    width: 80%;

    @media screen and (min-width: 992px) {
      width: 40%;
    }
  }

  p {
    margin-bottom: 0.5em;
  }

  .contact-text-area {
    margin-bottom: 1.5em;
  }
}
