.fullscreen-project-image {
  height: 100vh;
  img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;

    transition: opacity 0.4s ease-in !important;
  }

  .lazy-load-image-background {
    width: 100%;
    transition: filter 0.4s ease-in-out !important;

    img {
      opacity: 1 !important;
    }
  }
}

.arrow-box {
  top: inherit;
  bottom: 7%;
  position: fixed;
  transition: all 0.3s ease-in;
  opacity: 0;

  @media screen and (min-width: 992px) {
    bottom: 5%;
  }

  svg {
    height: 100%;
  }
}

.box-bt-left {
  right: auto;
  left: 1.5em;
  transform: translateX(-200%);
  @media screen and (min-width: 992px) {
    left: 2em;
  }
}

.box-bt-right {
  right: 1.5em;
  transform: translateX(200%);
  @media screen and (min-width: 992px) {
    right: 1.5em;
    right: 2em;
  }
}

.arrow-entered {
  transform: translateX(0%) !important;
  opacity: 1;
}

.project-content-middle {
  display: flex;
  flex-flow: column;

  @media screen and (min-width: 992px) {
    flex-flow: row;
    height: 90vh;
  }

  .content {
    @media screen and (min-width: 992px) {
      width: 50%;
    }
  }

  .section-left {
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;

    @media screen and (max-width: 992px) {
      min-height: 50vh;
      order: 2;
    }

    @media screen and (min-width: 992px) {
      width: 45%;
      padding: 5% 0;
    }

    @media screen and (max-width: 1640px) {
      h2 {
        font-size: 1.6rem;
      }
    }

    h2,
    p,
    span {
      color: #fff;
    }

    .content-wrapper {
      max-height: 75%;

      @media screen and (min-width: 992px) {
        // height: 60%;
        // border: 1px solid purple;
        width: 70%;
        display: flex;
        flex-flow: row;
        padding-top: 5em;

        .text-container {
          padding-top: 0;

          .project-description {
            p {
              line-height: 1.5;
            }
          }
        }
      }
    }

    .price-container {
      display: flex;
      flex-flow: column;
      justify-content: space-between;

      @media screen and (min-width: 992px) {
        margin-top: 4em;
      }

      @media screen and (max-width: 992px) {
        padding: 2em;

        p {
          align-self: center;
        }
      }

      &__price {
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }

  .section-right {
    @media screen and (max-width: 992px) {
      height: 50vh;
      order: 1;
    }

    @media screen and (min-width: 992px) {
      width: 55%;
    }

    .swiper-container {
      width: 100%;
      height: 100%;
      .lazy-load-image-background {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .swiper-slide {
      cursor: pointer;
    }

    .secondary-project-image {
      width: 100%;
      height: 100%;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: inherit;
    bottom: 5vh;
    width: 50px;

    color: white;

    &:after {
      font-size: 1rem !important;
    }

    @media screen and (max-width: 992px) {
      bottom: 2.75vh;

      &:after {
        font-size: 1rem;
      }
    }
  }

  .swiper-button-prev {
    left: 5em;
    @media screen and (max-width: 992px) {
      left: 1em;
    }
  }

  .swiper-button-next {
    right: 5em;
    @media screen and (max-width: 992px) {
      right: 1em;
    }
  }
}

// .scroll-marker {
//     width: 100%;
//     height: 100%;
//     border: 1px solid green;

//     direction:ltr;
// }

.text-container {
  padding: 2.5em;

  overflow-y: scroll;
  direction: rtl;
  text-align: left;

  @media screen and (max-width: 992px) {
    padding: 1.5em;
    // padding-top: 4em;
    height: 100%;
    width: 100vw;
  }

  h2 {
    font-size: 3rem;
    line-height: 1.4;

    @media screen and (max-width: 992px) {
      text-align: center;
    }

    @media screen and (min-width: 992px) {
      font-size: 2rem;
    }

    &:nth-child(2) {
      margin-bottom: 0.5em;
    }
  }

  h2,
  p {
    direction: ltr;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // -webkit-border-radius: 10px;
    // border-radius: 10px;
    background: #303030;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgb(41, 41, 41);
  }
}

.project-page-content-bottom {
  span {
    height: 100vh;
  }

  img {
    height: 100vh;
    width: 100%;
    object-position: bottom;
  }
}

.lazyload-wrapper {
  height: 100vh;
  z-index: -1;

  .slide-bg-fullscreen {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;

    @media screen and (max-width: 992px) {
      height: 50vh;
    }
    // transform: matrix(1.05, 0, 0, 1.05, 0, 0);

    // transition: transform 0.5s ease-in, filter 0.5s ease-in,
    //   background-position 1.5s ease-in !important;

    // @media screen and (min-width: 992px) {
    //   filter: grayscale(100%) contrast(105%);
    // }
  }
}

.projects-category-menu {
  background: rgba($color: #444444, $alpha: 0.35);
  display: flex;
  justify-content: center;

  @media screen and (max-width: 992px) {
    position: fixed;
    top: 30%;
    width: 10%;
    height: 50vh;
    right: 0;
    transform: translate(10vw, 0%);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }

  @media screen and (min-width: 992px) {
    width: 100%;
    height: 4.5vh;
    transition: all 0.75s ease-in;
    transform: translateY(-10vh);
    position: absolute;
    border-top-left-radius: 55px;
    border-top-right-radius: 55px;
  }
}

.project-category-wrapper {
  @media screen and (max-width: 992px) {
    flex-flow: column;
    justify-content: space-around;
  }
  display: flex;
  width: 10%;
  height: 100%;

  text-align: center;
  margin: auto;
  justify-content: space-between;

  a,
  span {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    p {
      margin-bottom: 0;

      @media screen and (max-width: 992px) {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }
    }
  }

  span {
    @media screen and (max-width: 992px) {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }
}

.projects-category-menu-mounted {
  transform: translateY(-14.5vh);

  @media screen and (max-width: 992px) {
    transform: translate(0%, 0%);
  }
}

.projects-category-header {
  text-align: center;
  color: #fff;
  padding-top: 0.25em;
}

.order-button,
.order-button:active {
  width: 200px;
  height: 50px;
  line-height: 50px;
  top: 1.5em;
  right: 1.5em;
  color: white;
  display: block;
  border: 1px solid #fff;
  text-align: center;
  align-self: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  p {
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: #fff;

    p {
      color: #303030;
    }
  }
}

.basicLightbox {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.01;
  transition: opacity 0.4s ease;
  z-index: 1000;
  will-change: opacity;
}
.basicLightbox--visible {
  opacity: 1;
}
.basicLightbox__placeholder {
  max-width: 100%;
  transform: scale(0.9);
  transition: transform 0.4s ease;
  z-index: 1;
  will-change: transform;

  @media screen and (min-width: 1024px) {
    max-width: 75%;
   }

  .swiper-slide {
    background-size: contain!important;
  }
}

.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 95%;
  max-height: 95%;
}
.basicLightbox__placeholder > iframe:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  pointer-events: auto;
}
.basicLightbox__placeholder > img:first-child:last-child,
.basicLightbox__placeholder > video:first-child:last-child {
  width: auto;
  height: auto;
}
.basicLightbox--iframe .basicLightbox__placeholder,
.basicLightbox--img .basicLightbox__placeholder,
.basicLightbox--video .basicLightbox__placeholder {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.basicLightbox--visible .basicLightbox__placeholder {
  transform: scale(1);
}

.swiper-lightbox {
  height: 90vh;
  width: 90%;
  margin: auto;
  position: initial !important;

  .swiper-slide {
    background-size: contain;
  }
}

.close-lightbox {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: 0px;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 999;
  background-image: url(../images/close_button.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.5s ease-in;

  @media screen and (min-width: 992px) {
    top: -40px;
    right: 20px;
  }
}
